<html>
<head>
	<meta charset = "UTF-8"><!-- 
	<script type="text/javascript" src="camera.js"></script>
 -->	<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>Change</title>
</head>
<body>
	<form method = "post" action="/change">
		<B><U>社員情報変更</U></B><br/><br/>
		住所　　：<input name = "address" type = "text" required></input><br/>
		最寄駅　：<input name = "station" type = "text" required></input><br/>
		定期代　：<input name = "teiki" type = "number" required></input><br/>
		部署　　：<input name = "section" type = "text" required></input><br/>
		役職　　：<input name = "position" type = "text" required></input><br/><br/>
		<button>Change</button><br/>
	</form>
</body>
</html>