<html>
<head>
	<meta charset = "UTF-8"><!-- 
	<script type="text/javascript" src="camera.js"></script>
	 --><link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>Search</title>
</head>
<body>
	<B><U>社員情報閲覧</U></B></br></br>
	表示する項目
	<div id = "hyoji">
		<input type = "checkbox">社員番号</input>
		<input type = "checkbox">名前</input>
		<input type = "checkbox">生年月日</input>
		<input type = "checkbox">最寄駅</input></br>
		<input type = "checkbox">定期代</input>
		<input type = "checkbox">部署</input>
		<input type = "checkbox">役職</input>
		<input type = "checkbox">入社年度</input>
		<input type = "checkbox">写真</input>
	</div></br>
	検索キーワード</br>
	<input type = "search"></input>
	<button>Search</button><br/><br/>
	検索結果</br>

</body>
</html>